@font-face {
  font-family: 'personal';
  src:  url('../../vendor/fonts/personal.eot?30941z');
  src:  url('../../vendor/fonts/personal.eot?30941z#iefix') format('embedded-opentype'),
    url('../../vendor/fonts/personal.ttf?30941z') format('truetype'),
    url('../../vendor/fonts/personal.woff?30941z') format('woff'),
    url('../../vendor/fonts/personal.svg?30941z#personal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'personal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}