@import  url('iconos.css');
@import url('../../vendor/fonts/Inconsolata-Regular.ttf');
.verde {
	background: #36AE80;
	color: #FFF; 
}

.rojo {
	background: #E52020;
	color: #FFF; 
}

.azul {
	background: #3893EE;
	color: #FFF; 
}

.morado {
	background: #C05DFF;
	color: #FFF; 
}

.verdeO {
	background: #00695C; 
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Inconsolata';
}
/* header */
header{
	color: white;

}
.logo-menu{
	background: #3367D6;
}
.logo-menu h2{
	font-size: 30px;
	margin: 15px 0px;
}

.logo-menu .menu #form_login .input-cont{
	margin: 0px 4px;
}
.logo-menu .menu #form_login .input-cont label{
	justify-content: left;
	padding: 0;
	margin: 0;
	font-size: 12px;
}
.logo-menu .menu #form_login .input-cont input[type=text],
.logo-menu .menu #form_login .input-cont input[type=password]{
	border :none;
	border-radius: 2px;
	margin: 0px 3px 0px 0px;
	padding: 2px 3px;
}
.logo-menu .menu #form_login .input-cont ::placeholder {
  	color: white;
}
.logo-menu .menu #form_login .input-cont .btn-ingresar{
	margin: 15px 0px 0px 0px;
	border:none;
	border-radius: 2px;
	padding: 4px;
}
@media only screen and (max-width: 600px){
	.logo-menu .menu #form_login .input-cont .btn-ingresar{
		margin: 0px;
	}
	.logo-menu .menu #form_login .input-cont input[type=text],
	.logo-menu .menu #form_login .input-cont input[type=password]{
	}
	.logo-menu .menu #form_login .input-cont ::placeholder {
	  color: #858C93;
	  font-size: 14px;
	}
	.logo-menu .menu #form_login .input-cont label{
		display: none;
	}
}
/*fin header*/
/*principal registro*/
.cont-principal{
	padding-top: 10px;
}
img{
	width: 100%;
}
.cont-principal .grid .cont-izq .cont-text{
	width: 80%;
}
.cont-principal .grid .cont-izq .text-form span{
	color: #1E5580;
	display: block;
	margin-bottom: 15px;
}
.cont-principal .grid .cont-text h5{
	padding-top: 15px;
	color: #1E5580;
}
.cont-principal .grid .text-form1 span{
	color: #1E5580;
	display: block;
	margin: 0px 0px 15px 10px;
}
.cont-principal .grid .img{
	width: 40%;
}

@media only screen and (max-width: 600px) {
	.cont-principal .grid .cont-izq{
 		display: flex;
 	}
 	.cont-principal .grid .cont-izq .cont-text{

 	}
 	.cont-principal .grid .cont-izq .cont-text h5{
 		font-size: 14px;
		padding-top: 15px;
		color: #1E5580;
		padding-top: 40px;
	}
 	.cont-principal .grid .cont-izq .img{
 		width: 20%;
 	}
 	 .cont-principal .grid .text-form h1{
		display: block;
		margin: 0px 0px 15px 10px;
		font-size: 25px;
		font-weight: bold;
	}
 	.cont-principal .grid .text-form span{
		color: #1E5580;
		display: block;
		margin: 0px 0px 15px 10px;
	}
	.cont-principal .grid #form_crear input[type=text]{
	}
}
/*fin principal registro*/
.cont{
	border: 1px ;
	margin: 0 auto;
	height: 80vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center; 
}
.btn-medio {
	font-size: 1.3em;
	width: 120px;
	line-height: 2em;
	border: none;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	text-transform: uppercase;
	margin: 0px 3px; 
}
.btn-medio:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95); 
}
.btn-medio:focus {
	text-decoration: none;
	outline-style: none; 
}

.btn-lite {
	font-size: 1em;
	width: 100px;
	line-height: 2em;
	border: none;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	text-transform: uppercase;
	margin: 0px 3px; 
}
.btn-lite:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95); 
}
.btn-lite:focus {
	text-decoration: none;
	outline-style: none; 
}

.btn-small {
	font-size: .80em;
	width: 80px;
	line-height: 1.5em;
	border: none;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	text-transform: uppercase;
	margin: 0px 3px; 
}
.btn-small:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95); 
}
.btn-small:focus {
	text-decoration: none;
	outline-style: none; 
}

.btn-normal {
	display: block;
	font-size: .80em;
	width: auto;
	line-height: 3em;
	border: none;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	text-transform: uppercase;
	margin: 0px 3px;
	padding: 0 5px; 
}
.btn-normal:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95); 
}
.btn-normal:focus {
	text-decoration: none;
	outline-style: none; 
}
.btn-normal .icono {
	margin-left: 5px;
	margin-top: 8px;
	font-size: 1.5em; 
}

.btn-link {
	display: block;
	font-size: .70em;
	width: auto;
	line-height: 3em;
	border: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	text-transform: uppercase;
	margin: 0px 2px;
	padding: 0 2px;
	color: #FFF; 
}
.btn-link:hover {
	text-decoration: none; 
	color: #C05DFF;
}
.btn-link:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	text-decoration: none;
	outline-style: none; 
	color: #E52020;
}
.btn-link:focus {
	text-decoration: none;
	outline-style: none; 
}
/* contenido para mostrar*/
/*box*/
.box{
	border: 1px;
	background: #292961;
	height: 40px;
	padding:0px 20px;
	width: 100%;
	margin: 0;
	justify-content: space-between;
}
.box .box-menu-logo, .box-buscar, .box-menu-lista{

} 
.box .box-menu-logo{
	display: flex;
}
.box .box-menu-logo a{
	color: #FFF;
	text-decoration: none;
}
.box .box-menu-logo a:hover{
	color: #3893EE;
}
.box .box-menu-logo .icon-menu{
	display: block;
	font-size: 25px;
	color: #FFF;
	padding: 5px 0px 0px 5px;
}
.box .box-menu-logo span{
	display: block;
	font-size: 16px;
	color: #FFF;
	padding: 5px 0px 0px 5px;
}
.box .box-menu-lista{
	display: flex;
}

.box .box-user{
	display: flex;
	align-items: center;
}
.box .box-user img{
	display: block;
	height:40px;
	width:40px;
	border-radius:200px;
	text-align: center;
	margin-left: 10px;
}
.box .box-user img{
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease; 
}
.box .box-user img:hover{
	box-shadow:  0px 0px 10px 2px grey;
}
.box .box-user img:active{
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95); 
}

.box .box-user .user-nomb{
	padding: 14px 0px 0px 5px;
	color: #FFF;
}



/*contenido sidebar menu y contenido*/

.box-main{
	display: flex;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid red;
}
.box-main .box-sidebar{
	width: 20%;
	border: 1px solid blue;
}
.box-main .box-contenido{
	width: 100%;
	border: 1px solid green;
}